html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 1.6;
  background-image: url('src/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  flex: 1;
  overflow-y: scroll;
}

.page-section {
  height: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.page-section.active {
  height: 100%;
  display: block;
  opacity: 1;
  overflow: visible;
}

.content-paragraph {
  padding: 2rem;
  box-sizing: border-box;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  animation: fade 0.5s ease;
}

.head {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.568);
    backdrop-filter: blur(10px);
}

footer {
  width: 100%;
  padding: 5px 0;
  color: #ddd;
  font-size: 12px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.flexable {
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 20px;
  font-size: 16px;
  display: flex;
  height: 200px;
  width: 550px;
  column-gap: 15px;
  align-items: center;
  animation: fade 0.5s ease;
}

.main-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 12px;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h1, h2, h3 {
    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    font-family: "Roboto", sans-serif;
}

.title {
  color: white;
  font-size: 64px;
  font-family: Mona Sans Variable, Arial, sans-serif;
  font-weight: 600;
}

.shimmer {
  background: linear-gradient(90deg, #ffffff, #daaafd, #ffffff);
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

a {
    text-decoration: none;
    color: #67b1f7;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.large-image {
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 768px;
    height: 432px;
}

.small-image {
  border-radius: 2px;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.intro-thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: left;
}

.stack-item {
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  width: fit-content;
  padding: 2px 10px 2px 10px;
  justify-content: center;
  align-items: center;
  transition: transform .2s;
}

.stack-item:hover {
  transform: scale(1.1);
}

.stack {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px; 
}

.content-title {
  display: flex;
  justify-content: space-between;
}

.navigation-panel {
  display: flex;
  gap: 25px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #11ffee00;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.animated-title {
  transition: transform .4s;
  width: auto;
}

.animated-title:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.parallax {
  background-image: url('src/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.glass {
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 65%;
    height: 120px;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    animation: fade 0.5s ease;
    padding-left: 2rem;
}

hr {
  border: none;
  border-top: 4px dashed white;
  height: 1px;
  flex: 1;
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.number-text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}