html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  background-image: url('src/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-paragraph {
  padding: 2rem;
  box-sizing: border-box;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.head {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}

.intro {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 20px;
}

.main-content {
  width: 100%;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  /* border-left: 2px solid #ccc; */
}

h1, h2, h3 {
    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    font-family: "Roboto", sans-serif;
}

.title {
  color: black;
  font-size: 64px;
}

a {
    text-decoration: none;
    color: #67b1f7;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.large-image {
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 768px;
    height: 432px;
}

.small-image {
  border-radius: 2px;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.intro-thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: left;
}

.stack-item {
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  width: fit-content;
  padding: 2px 10px 2px 10px;
  justify-content: center;
  align-items: center;
  transition: transform .2s;
}

.stack-item:hover {
  transform: scale(1.1);
}

.stack {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px; 
}

.content-title {
  display: flex;
  justify-content: space-between;
}

.navigation-panel {
  display: flex;
  gap: 25px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #11ffee00;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.animated-title {
  transition: transform .4s;
  width: auto;
}

.animated-title:hover {
  transform: scale(1.2);
}

.parallax {
  background-image: url('src/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.glass {
    background: rgba(255, 255, 255, 0.39);
    border-radius: 20px;
    padding: 40px 60px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    max-width: 600px;
    max-height: 150px;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}