html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #000000, #1a151f);
  font-family: Consolas, "Courier New", monospace;
  color: #fff;
  line-height: 1.6;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
}

.content-paragraph {
    padding-left: 2rem;
    padding-bottom: 2rem;
    width: 75%;
}

.sidebar {
    width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.main-content {
  width: 100%;
  padding: 2rem;
  overflow-y: auto;

  /* border-left: 2px solid #ccc; */
}

h1, h2, h3 {
    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #67b1f7;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.large-image {
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 768px;
    height: 432px;
}

.small-image {
  border-radius: 2px;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.intro-thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: left;
}

.stack-item {
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  width: fit-content;
  padding: 2px 10px 2px 10px;
  justify-content: center;
  align-items: center;
}

.stack {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px; 
}

.content-title {
  display: flex;
  justify-content: space-between;
}

.navigation-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 0;
  gap: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #11ffee00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.copyright-text {
  font-size: 4;
}